@tailwind utilities;

:root{
  --primary-color: #FFD369;
  --background-color: #393E46;
  --navbar-color: #222831;
  --input-color: #20252d;
  --selector-hover-color: #1b1f26;
  --white: #fff;
}
body{
  background-color: var(--background-color);
  color: lightgray;
}

