.movie-card-section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.movie-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.movie-card-list > *{
    margin: 10px;
}
