.movie-card{
  transition: scale 0.3s ease-in-out;
}
.movie-card:hover{
  scale: 1.05;
}
.movie-card .imdb {
  background-color: #ffc32c;
}
.movie-card .ant-card-meta-title {
  font-size: 1.7rem;
}
.movie-card .ant-card .ant-card-cover img {
  height: 350px;
}
