.log-in-page{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(https://wallpapercave.com/wp/wp1945897.jpg);
}
.log-in-form{
    background-color: var(--navbar-color);
    max-width: 500px;
    min-width: 300px;
    box-shadow: 10px 10px 20px 12px rgba(0, 0, 0, 0.4);
}
.log-in-form a{
    color: var(--primary-color);
}
.log-in-form .ant-form-item{
    width: 100%;
}
@media screen and (max-width: 425px) {
    .log-in-page{
        justify-content: center;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(https://wallpapercave.com/wp/wp1945897.jpg);
    }
    .log-in-form{
        box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.4);
        height: auto;
        border-radius: 10px;
    }
}