.Homepage{
    margin-top: 95px;
}
.sort-filter-menu{
    padding: 0 115px 10px 0;
    display: flex;
    justify-content: end;
  }
@media screen and (max-width: 768px) {
    .sort-filter-menu{
        padding: 0;justify-content: space-evenly;
    }
}
@media screen and (max-width: 425px) {
    .Homepage{
        margin-top: 135px;
    }
}