.selector {
  background-color: #33373f;
}
.selector-select {
  min-width: 100px;
}
.selector .ant-select-single .ant-select-selector,
.selector .ant-select .ant-select-arrow {
  color: white !important;
}
.ant-select-single.ant-select-open .ant-select-selection-item {
  color: grey;
}
.ant-select-dropdown {
  background-color: var(--navbar-color);
}
.ant-select-dropdown .ant-select-item {
  color: white;
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--input-color);
  color: var(--primary-color);
}
.ant-select-dropdown
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--selector-hover-color);
}
