.movie-detail{
    min-width: 320px;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.movie-detail-aside{
    box-sizing: border-box;
    width: 50%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding: 10px 40px;
}
.movie-detail-aside .ant-image{
    float: left;
    margin: 20px 20px 0 0;
}
.movie-detail-aside .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-detail-aside .icons .imdb{
    display: flex;
    align-items: center;
}
.movie-detail-aside .icons .imdb-score{
    color: #f3ce13;
    margin-left: 10px;
    font-size: 20px;
}
.movie-detail-aside .movie-detail-list{
    list-style-type: none;
    padding: 0;
    margin: 50px 0;
}
.movie-detail-aside .movie-detail-list-item:not(:first-child){
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
}
.movie-detail-aside .movie-detail-list-item span{
    font-weight: bolder;
    width: 100px;
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .movie-detail-aside{
        width: 100%;
        max-width: none;
    }
}