.movie-detail{
    min-width: 320px;
}
.movie-detail-aside{
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.7);
}
.movie-detail-aside .icons .imdb-score{
    color: #f3ce13;
}
.movie-detail-aside .movie-detail-list-item:not(:first-child){
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
}
.movie-detail-aside .movie-detail-list-item span{
    font-weight: bolder;
    width: 100px;
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .movie-detail-aside{
        width: 100%;
        max-width: none;
    }
}